<!-- File Content: Page for OTP verification -->

<div class="otp-container">
  <!-- Left Component -->
  <div class="otp__image" alt="image not displaying.">
    <img src="assets/image.png" alt="image is not showing" />
  </div>
  <!-- Right Component -->
  <div class="otp__form">
    <div class="otp__content">
      <div class="otp__heading">MediScan - AI Tool</div>
      <div class="otp_subheading">Verify the OTP</div>
      <div class="otp__input">
        <div class="otp__title">Enter OTP</div>
        <div class="otp__search">
          <label for="otp"></label>
          <input
            [type]="inputType"
            name="text"
            id="otp"
            [(ngModel)]="otp"
            (input)= "onInput()"
            required
            #otpInput="ngModel"
          />
          <svg
            id="eye-icon"
            xmlns="http://www.w3.org/2000/svg"
            height="24px"
            viewBox="0 -960 960 960"
            width="24px"
            (input)= "onInput()"
            fill="#D9D9D9"
            (click)="toggleVisibility()"
          >
            <path
              d="M480-320q75 0 127.5-52.5T660-500q0-75-52.5-127.5T480-680q-75 0-127.5 52.5T300-500q0 75 52.5 127.5T480-320Zm0-72q-45 0-76.5-31.5T372-500q0-45 31.5-76.5T480-608q45 0 76.5 31.5T588-500q0 45-31.5 76.5T480-392Zm0 192q-146 0-266-81.5T40-500q54-137 174-218.5T480-800q146 0 266 81.5T920-500q-54 137-174 218.5T480-200Z"
            />
          </svg>
        </div>
        
        <div class="otp__error-message">
          {{otpError1}}
          </div>
      </div>
      
      <div class="otp__buttons">
        <button class="otp__login" (click)="login()">Back to Login</button>
        <button class="otp__verify" (click)="verifyOtp(otpInput)">Verify OTP</button>
      </div>
      <a routerLink="/otp" class="otp__resend">Resend otp</a>
    </div>
  </div>
</div>
