<div class="upload-new-case__container">
  <div class="upload-new-case__header">
    <h2 class="upload-new-case__title" *ngIf="!viewOnly">Upload New Case</h2>
    <h2 class="upload-new-case__title" *ngIf="viewOnly">Main Case View</h2>
  </div>

  <!-- Form container -->
  <div class="upload-new-case__forms">
    <!-- First Form: Client Name, Case Reference, LOI Upload -->
    <form id="upload-new-case__form1" class="upload-new-case__form">
      <div class="form-group-row">
        <!-- Client Name -->
        <div class="form-group">
          <label for="client-name">Client Name</label>
          <input
            type="text"
            id="client-name"
            placeholder="Enter client name"
            [(ngModel)]="clientName"
            name="clientName"
            #clientNameField="ngModel"
            [ngModelOptions]="{ standalone: true }"
            (input)="onInputChange()"
            required
            minlength="2"
            maxlength="50"
            pattern="^[A-Za-z]"
            [disabled]="viewOnly"
          />
          <div *ngIf="isSubmitted && clientNameError" class="error-message">
            {{ clientNameError }}
          </div>
        </div>
        <!-- Case Reference Number -->
        <div class="form-group">
          <label for="case-reference">Case Reference Number</label>
          <input
            type="text"
            id="case-reference"
            (input)="onInputChange()"
            placeholder="Enter reference number"
            [(ngModel)]="caseReference"
            [ngModelOptions]="{ standalone: true }"
            [disabled]="viewOnly"
          />
          <div *ngIf="isSubmitted && caseReferenceError" class="error-message">
            {{ caseReferenceError }}
          </div>
        </div>
        <!-- LOI (Letter of Instruction) Type -->
        <div class="form-group">
          <label for="loi-type">What type of LOI?</label>
          <ng-container *ngIf="!viewOnly">
            <select
              id="loi-type"
              (input)="onInputChange()"
              [(ngModel)]="selectedLoi"
              [ngModelOptions]="{ standalone: true }"
              (ngModelChange)="onLoiChange()"
              [disabled]="viewOnly"
            >
              <option value="" disabled>Select LOI Type</option>
              <option *ngFor="let loi of loiTypes" [value]="loi._id">
                {{ loi.loi_msg }}
              </option>
            </select>
          </ng-container>
          <ng-container *ngIf="viewOnly">
            <input
              type="text"
              id="loi-type"
              [(ngModel)]="selectedLoi"
              [ngModelOptions]="{ standalone: true }"
              disabled
            />
          </ng-container>
          <div *ngIf="isSubmitted && loiError" class="error-message">
            {{ loiError }}
          </div>
        </div>
        <!-- Date of Branch / Liability -->
        <div class="form-group">
          <label for="date-of-branch">Date of Breach / Liability</label>
          <ng-container *ngIf="!viewOnly">
            <input
              type="date"
              id="date-of-branch"
              (input)="onInputChange()"
              name="dateOfBranch"
              [(ngModel)]="dateOfBranch"
              [disabled]="viewOnly"
              [max]="today"
            />
          </ng-container>
          <ng-container *ngIf="viewOnly">
            <input
              type="text"
              id="date-of-branch"
              [value]="dateOfBranch | date: 'dd MMM yyyy'"
              disabled
            />
          </ng-container>
          <div *ngIf="isSubmitted && dateError" class="error-message">
            {{ dateError }}
          </div>
        </div>
      </div>

      <!-- Upload LOI: Trigger file selection -->
      <div class="form-group">
        <label for="loi-upload" class="loi-upload-label" (click)="onInputChange()">
          <span class="loi-text">Upload Letter of Instruction</span>
          <span class="upload-icon">📎</span>
        </label>
        <input
          type="file"
          id="loi-upload"
          accept="application/pdf"
          (change)="onLoiFileSelected($event)"
          enctype="multipart/form-data"
          style="display: none;"
        />
        <div *ngIf="isSubmitted && loiFileError" class="error-message">
          {{ loiFileError }}
          </div>
      </div>

      <!-- Instruction Type -->
      <div class="form-group">
        <label for="instruction-type">Instruction Type</label>
        <ng-container *ngIf="!viewOnly">
          <select
            id="instruction-type"
            [(ngModel)]="selectedInstruction"
            [ngModelOptions]="{ standalone: true }"
            (ngModelChange)="onInstructionChange()"
            [disabled]="viewOnly"
          >
            <option value="" disabled>Select Instruction Type</option>
            <option *ngIf="instructionTypes.length === 0" value="" disabled>
              No instruction types available, Select LOI Type First
            </option>
            <option *ngFor="let instruction of instructionTypes" [value]="instruction._id">
              {{ instruction.instruction_msg }}
            </option>
          </select>
        </ng-container>
        <ng-container *ngIf="viewOnly">
          <input
            type="text"
            id="instruction-type"
            [(ngModel)]="selectedInstruction"
            [ngModelOptions]="{ standalone: true }"
            disabled
          />
        </ng-container>
        <div *ngIf="isSubmitted && instructionError" class="error-message">
          {{ instructionError }}
        </div>
      </div>
    </form>

    <!-- Second Form -->
    <form
      id="upload-new-case__form2"
      class="upload-new-case__form"
      (input)="onInputChange()"
    >
      <h3 class="upload-new-case__form-title">SELECT THE PARAMETERS</h3>
      <div class="form-group" *ngIf="(viewOnly ? selectedParametersView.length : parameters.length) > 0">
        <ul class="parameter-list" *ngIf="!viewOnly">
          <li *ngFor="let param of parameters" (click)="toggleSelection(param._id)">
            <div class="checkbox-container">
              <svg
                *ngIf="!isSelected(param._id)"
                xmlns="http://www.w3.org/2000/svg"
                height="30px"
                viewBox="0 -960 960 960"
                width="30px"
                fill="#000000"
              >
                <path
                  d="M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h560q33 0 56.5 23.5T840-760v560q0 33-23.5 56.5T760-120H200Zm0-80h560v-560H200v560Z"
                />
              </svg>
              <svg
                *ngIf="isSelected(param._id)"
                xmlns="http://www.w3.org/2000/svg"
                height="30px"
                viewBox="0 -960 960 960"
                width="30px"
                fill="#000000"
              >
                <path
                  d="m424-312 282-282-56-56-226 226-114-114-56 56 170 170ZM200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h560q33 0 56.5 23.5T840-760v560q0 33-23.5 56.5T760-120H200Zm0-80h560v-560H200v560Zm0-560v560-560Z"
                />
              </svg>
            </div>
            <div class="parameter-details">
              {{ param.parameter_msg }}
            </div>
          </li>
        </ul>
        <ul class="parameter-list" *ngIf="viewOnly">
          <li *ngFor="let param of selectedParametersView">
            <div class="parameter-details" style="margin: 0.5rem;">
              {{ getParameterMsg(param) }}
            </div>
          </li>
        </ul>
        <div *ngIf="isSubmitted && parametersError" class="error-message">
          {{ parametersError }}
        </div>
      </div>

      <!-- Submit Button -->
      <div class="form-group" *ngIf="!viewOnly">
        <button type="button" (click)="submitForm()" class="submit-button">
          Submit
        </button>
      </div>
    </form>
  </div>
</div>