.upload-new-case__container {
    width: 100%;
    padding-top: 2rem;
    background-color: #f4f4f4;
}
.upload-new-case__header {
    text-align: center;
    margin-bottom: 2rem;
}
.upload-new-case__title {
    font-size: 2rem; /* Increased font size */
    font-weight: bold;
}
.upload-new-case__forms {
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap; /* Ensure forms stack on smaller screens */
}
.upload-new-case__form {
    background-color: white;
    padding: 3rem 2rem;
    flex: 1;
    min-width: 20rem;
}
.upload-new-case__form-title {
    font-size: 1.6rem; /* Increased font size */
    margin-bottom: 2.5rem;
}
.form-group {
    margin-bottom: 1.5rem;
}
.form-group label {
    font-size: 1.2rem; /* Increased font size for labels */
    font-weight: bold;
    display: block;
    margin-bottom: 0.5rem;
}
.form-group input,
.form-group select {
    width: 100%;
    padding: 1rem; /* Increased padding for inputs */
    font-size: 1.2rem; /* Increased font size for input text */
    border: 0.1rem solid #ddd;
    border-radius: 0.5rem;
    background-color: white;
}

.form-group-instruction-type label {
    font-size: 1.2rem;
    font-weight: bold;
    display: block;
    margin-bottom: 0.5rem;
}

.form-group-instruction-type input,
.form-group-instruction-type select {
    width: 50%; /* Adjusted width for instruction type inputs */
    padding: 1rem;
    font-size: 1.2rem;
    border: 0.1rem solid #ddd;
    border-radius: 0.5rem;
    background-color: white;
}
/* New styling for the row of 4 inputs */
.form-group-row {
    display: flex;
    gap: 2rem; /* Added spacing between inputs */
    flex-wrap: wrap; /* Allow wrapping for smaller screens */
}
.form-group-row .form-group {
    flex: 1; /* Make each input take equal width */
    min-width: 15rem; /* Ensure inputs have a minimum width */
}
/* Custom styling for select dropdowns */
.loi-upload-label {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.loi-text {
    text-decoration: underline;
}

.upload-container {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.upload-container input[type="file"] {
    padding: 1rem;
    font-size: 1.2rem;
}
.upload-icon {
    font-size: 18px;
}

button {
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
   width: 20rem;
    border-radius: 0.4rem;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

@media (max-width: 768px) {
    .upload-new-case__forms {
        flex-direction: column;
    }
    .form-group-row {
        flex-direction: column; /* Stack inputs vertically on smaller screens */
        gap: 1rem;
    }
}