<div class="upload-new-case__container">
  <div class="upload-new-case__header">
    <h2 class="upload-new-case__title" *ngIf="!viewOnly">Upload New Case</h2>
    <h2 class="upload-new-case__title" *ngIf="viewOnly">Main Case View</h2>
  </div>

  <!-- Form container -->
  <div class="upload-new-case__forms">
    <!-- First Form: Client Name, Case Reference, LOI Upload -->
    <form id="upload-new-case__form1" class="upload-new-case__form">
      <div class="form-group-row">
        <!-- Client Name -->
        <div class="form-group">
          <label for="client-name">Client Name</label>
          <input
            type="text"
            id="client-name"
            placeholder="Enter client name"
            [(ngModel)]="clientName"
            name="clientName"
            #clientNameField="ngModel"
            [ngModelOptions]="{ standalone: true }"
            (input)="onInputChange()"
            required
            minlength="2"
            maxlength="50"
            pattern="^[A-Za-z]"
            [disabled]="viewOnly"
          />
          <div *ngIf="isSubmitted && clientNameError" class="error-message">
            {{ clientNameError }}
          </div>
        </div>
        <!-- Case Reference Number -->
        <div class="form-group">
          <label for="case-reference">Case Reference Number</label>
          <input
            type="text"
            id="case-reference"
            (input)="onInputChange()"
            placeholder="Enter reference number"
            [(ngModel)]="caseReference"
            [ngModelOptions]="{ standalone: true }"
            [disabled]="viewOnly"
          />
          <div *ngIf="isSubmitted && caseReferenceError" class="error-message">
            {{ caseReferenceError }}
          </div>
        </div>
        <!-- LOI (Letter of Instruction) Type -->
        <div class="form-group">
          <label for="loi-type">What type of LOI?</label>
          <select
           (input)="onInputChange()"
            id="loi-type"
            [(ngModel)]="selectedLoi"
            [ngModelOptions]="{ standalone: true }"
            (ngModelChange)="onLoiChange()"
            [disabled]="viewOnly"
          >
            <option value="" disabled selected>Select LOI Type</option>
            <option *ngFor="let loi of loiTypes" [value]="loi._id">
              {{ loi.loi_msg }}
            </option>
          </select>
          <div *ngIf="isSubmitted && loiError" class="error-message">
            {{ loiError }}
          </div>
        </div>

        <!-- Date of Branch / Liability -->
        <div class="form-group">
          <label for="date-of-branch">Date of Breach / Liability</label>
          <input (input)="onInputChange()" type="date" id="date-of-branch" name="dateOfBranch" [(ngModel)]="dateOfBranch" [disabled]="viewOnly"/>
          <div *ngIf="isSubmitted && dateError" class="error-message">
            {{ dateError }}
          </div>
        </div>
      </div>

      <!-- Upload LOI -->
      <div class="form-group">
        <label for="loi-upload" class="loi-upload-label" >
          <span class="loi-text">Upload Letter of Instruction</span>
          <span class="upload-icon">📎</span>
        </label>
      </div>

      <!-- Instruction Type -->
      <div class="form-group">
        <label for="instruction-type">Instruction Type</label>
        <select
          id="instruction-type"
          (input)="onInputChange()"
          [(ngModel)]="selectedInstruction"
          [ngModelOptions]="{ standalone: true }"
          (ngModelChange)="onInstructionChange()"
          [disabled]="viewOnly"
        >
          <option value="" disabled selected *ngIf="!viewOnly">Select Instruction Type</option>
          <option *ngFor="let instruction of instructionTypes" [value]="instruction._id" >
            {{ instruction.instruction_msg }}
          </option>

         
        </select>
        <div *ngIf="isSubmitted && instructionError" class="error-message">
          {{ instructionError }}
        </div>
      </div>
    </form>

    <!-- Second Form -->
    <form
      id="upload-new-case__form2"
      class="upload-new-case__form"
      (input)="onInputChange()"
      
    >
      <h3 class="upload-new-case__form-title">SELECT THE PARAMETERS</h3>
      <div class="form-group" *ngIf="parameters.length > 0">
        <ul class="parameter-list" *ngIf="viewOnly">
          <li *ngFor="let param of parameters" (click)="toggleSelection(param._id)" >
            <div
              class="checkbox-container"
              
            >
              <svg
                *ngIf="!isSelected(param._id)"
                xmlns="http://www.w3.org/2000/svg"
                height="24px"
                viewBox="0 -960 960 960"
                width="24px"
                fill="#000000"
              >
                <path
                  d="M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h560q33 0 56.5 23.5T840-760v560q0 33-23.5 56.5T760-120H200Zm0-80h560v-560H200v560Z"
                />
              </svg>
              <svg
                *ngIf="isSelected(param._id)"
                xmlns="http://www.w3.org/2000/svg"
                height="24px"
                viewBox="0 -960 960 960"
                width="24px"
                fill="#000000"
              >
                <path
                  d="m424-312 282-282-56-56-226 226-114-114-56 56 170 170ZM200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h560q33 0 56.5 23.5T840-760v560q0 33-23.5 56.5T760-120H200Zm0-80h560v-560H200v560Zm0-560v560-560Z"
                />
              </svg>
            </div>
            <div class="parameter-details" >
              {{ param.parameter_msg }}
            </div>
          </li>
        </ul>
        <ul class="parameter-list" *ngIf="!viewOnly">
          <li *ngFor="let param of selectedParameters" >
            <div class="parameter-details" >
              {{ selectedParameters[0] }}
            </div>
          </li>
        </ul>
        <div *ngIf="isSubmitted && parametersError" class="error-message">
          {{ parametersError }}
        </div>
      </div>

      <!-- Submit Button -->
      <div class="form-group" *ngIf="!viewOnly">
        <button type="button" (click)="submitForm()" class="submit-button">
          Submit
        </button>
      </div>
    </form>
  </div>
</div>
