.upload-new-case__container {
    padding-top: 20px;
    background-color: #f4f4f4;
}

.upload-new-case__header {
    text-align: center;
    margin-bottom: 20px;
}

.upload-new-case__title {
    font-size: 24px;
    font-weight: bold;
}

.upload-new-case__forms {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap; /* Make sure the forms stack on smaller screens */
}

.upload-new-case__form {
    background-color: white;
    padding-top: 2.8rem;
    justify-content: center;
    padding-left: 1.5rem;
    /* padding-right: 1.5rem; */
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    flex: 1;
    min-width: 300px;
}

.upload-new-case__form-title {
    font-size: 18px;
    margin-bottom: 15px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    font-size: 14px;
    font-weight: bold;
    display: block;
}

.form-group input,
.form-group select {
    width: 73%;
    padding: 10px;
    margin-top: 0.7rem;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.form-group-instruction-type label {
    font-size: 14px;
    font-weight: bold;
    display: block;
}
.form-group-instruction-type input,
.form-group-instruction-type select {
    width: 43%;
    padding: 10px;
    background-color: white;
    margin-top: 0.7rem;
    border: 1px solid #ddd;
    border-radius: 5px;
}
/* New styling for the row of 4 inputs */
.form-group-row {
    display: flex;
    gap: 0; /* Space between inputs */
    flex-wrap: wrap; /* Allow wrapping if screen is small */
}

.form-group-row .form-group {
    flex: 1; /* Make each input take equal width */
    min-width: 150px; /* Ensure inputs don't shrink too small */
}

/* Custom styling for select dropdowns */
.loi-upload-label {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 1rem;
}
.loi-text {
    text-decoration: underline;
}
.upload-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.upload-container input[type="file"] {
    padding: 10px;
}

.upload-icon {
    font-size: 18px;
}

button {
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

@media (max-width: 768px) {
    .upload-new-case__forms {
        flex-direction: column;
    }

    .form-group-row {
        flex-direction: column; /* Stack the inputs vertically on smaller screens */
    }
}
