/* @import "tailwindcss"; */
* {
  overflow: visible !important;
}
.case-list__container {
  background-color: white;  /* White background for the box */
  padding: 20px;            /* Add some padding around the table */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  /* Optional: add a subtle shadow for effect */
  width: 100%;              /* Ensure it takes up full width */
  margin: 0 auto;           /* Center the box horizontally */
  border-radius: 8px;       /* Optional: rounded corners */
}
