/* Dashboard container */
.dashboard-container {
    display: flex;
    flex-direction: row; /* Default layout for larger screens */
    height: 100%; /* Use height based on the viewport for consistency */
  }
  
  /* Sidebar container */
  .sidebar-container {
    flex: 1;
    height: 100vh; 
    background-color: #ffffff;
  }
  
  /* Main layout container */
  .main-layout-container {
    flex: 5;
    background-color: #f5f6f9;
    height: 100vh; 
    padding: 1.5rem; /* Default padding for larger screens */
  }
  
  /* Responsive Styles */
  @media (max-width: 1440px) {
    .main-layout-container {
      padding: 1.25rem; /* Adjust padding */
    }
  }
  
  @media (max-width: 1024px) {
   
    .sidebar-container {
      flex: 13.2;
      height: 100vh; /* Full height of the parent container */
      background-color: #ffffff;
    }
    

  
    .main-layout-container {
      padding: 1rem; /* Adjust padding */
      flex: 50;
    }
  }
  
  @media (max-width: 768px) {
    .sidebar-container {
      flex: 0;
      height: 100vh; /* Full height of the parent container */
      background-color: #ffffff;
    }
    

  
    .main-layout-container {
      padding: 1rem; /* Adjust padding */
      flex: 50;
    }
  }
  
  @media (max-width: 440px) {
    .sidebar-container {
      flex: 0;
      height: 100vh; /* Full height of the parent container */
      background-color: #ffffff;
    }
    

  
    .main-layout-container {
      padding: 1rem; /* Adjust padding */
      flex: 50;
    }
  }
  