<div class="login-container">
    <div class="login__image">
        <img src="assets/image.png" alt="image is not showing">
    </div>

    <div class="login__form">
        <div class="form-wrapper">
            <h2>MediScan - AI Tool</h2>
            <div class="input-icons">
                <h4>Email Address</h4>
                <i class="fa fa-envelope icon"></i>
                <input class="input-field" type="text" placeholder="Your E-Mail">
            </div>
            <div class="input-icons">
                <h4>Password</h4>
                <i class="fa fa-key icon"></i>
                <input class="input-field" type="password" placeholder="Your Password">
            </div>
            <button class="login-btn">Login</button>
            <a href="#" class="forgot-password">Forgot password?</a>
        </div>
    </div>
</div>
