<nav class="navbar">
  <ul>
    <div class="logo-name">
      <li class="logo-box">
        <img src="assets/logo.png" alt="logo" />
      </li>
      <li class="title-box">
        <a href="#">Mediscan - AI Tool</a>
      </li>
    </div>
    <li class="blank-box"></li>
    <li class="profile-box" (click)="toggleDropdown()">
      <a href="#" style="text-decoration: none; color: #161839">Eliza Hart</a>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        height="24px"
        viewBox="0 -960 960 960"
        width="24px"
        fill="#161839"
      >
        <path d="M480-344 240-584l56-56 184 184 184-184 56 56-240 240Z" />
      </svg>
      
      <!-- Apply the 'show' class when dropdown is open -->
      <ul [ngClass]="{'show': isDropdownOpen}" class="dropdown">
        <li>
          <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" fill="#333" viewBox="0 0 24 24">
            <path d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z" />
          </svg>
          <a href="/profile">Profile</a>
        </li>
        <li>
          <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" fill="#333" viewBox="0 0 24 24">
            <path d="M10 17v-4H3v-2h7V7l5 5-5 5zm10 2H9v2h11V5H9v2h11v12z" />
          </svg>
          <a href="/logout">Logout</a>
        </li>
      </ul>
    </li>
    
  </ul>
</nav>
