<nav class="navbar">
  <ul>
    <div class="logo-name">
      <li class="logo-box">
        <img src="assets/logo.png" alt="logo" />
      </li>
      <li class="title-box">
        <a href="#">Mediscan - AI Tool</a>
      </li>
    </div>
    <li class="blank-box"></li>
    <li class="profile-box">
      <a href="#" style="text-decoration: none; color: #161839">{{user?.first_name}}</a>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        height="24px"
        viewBox="0 -960 960 960"
        width="24px"
        fill="#161839"
      >
        <path d="M480-344 240-584l56-56 184 184 184-184 56 56-240 240Z" />
      </svg>
    </li>
  </ul>
</nav>
