<div class="register">
    <div class="register__form">
      <div class="register__form-wrapper">
        <p class="register__form-label">Registration</p>
  
        <!-- First Name and Last Name Fields -->
  
        <div class="register__input-container register__name-container">
          <div class="register__span">
            <h4 class="register__form-title">First Name</h4>
            <div class="login__input-container">
              <input
                class="register__input register__inputName"
                [ngClass]="{ 'input-error': formSubmitted && firstNameError }"
                type="text"
                placeholder="First Name"
                [(ngModel)]="firstName"
                (input)="onInputChange()"
                pattern="^[A-Za-z]+$"
              />
              <span class="register__icon email-icon">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  height="24px"
                  viewBox="0 -960 960 960"
                  width="24px"
                  fill="#CCCCCC"
                >
                  <path
                    d="M480-480q-66 0-113-47t-47-113q0-66 47-113t113-47q66 0 113 47t47 113q0 66-47 113t-113 47ZM160-160v-112q0-34 17.5-62.5T224-378q62-31 126-46.5T480-440q66 0 130 15.5T736-378q29 15 46.5 43.5T800-272v112H160Zm80-80h480v-32q0-11-5.5-20T700-306q-54-27-109-40.5T480-360q-56 0-111 13.5T260-306q-9 5-14.5 14t-5.5 20v32Zm240-320q33 0 56.5-23.5T560-640q0-33-23.5-56.5T480-720q-33 0-56.5 23.5T400-640q0 33 23.5 56.5T480-560Zm0-80Zm0 400Z"
                  />
                </svg>
              </span>
            </div>
            <div *ngIf="formSubmitted && firstNameError" class="error-message">
              {{ firstNameError }}
            </div>
          </div>
  
          <div class="register__span">
              <h4 class="register__form-title">Last Name</h4>
              <div class="login__input-container">
                <input
                  class="register__input register__inputName"
                  [ngClass]="{ 'input-error': formSubmitted && firstNameError }"
                  type="text"
                  placeholder="Last Name"
                  [(ngModel)]="lastName"
                  (input)="onInputChange()"
                  pattern="^[A-Za-z]+$"
                />
                <span class="register__icon email-icon">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    height="24px"
                    viewBox="0 -960 960 960"
                    width="24px"
                    fill="#CCCCCC"
                  >
                    <path
                      d="M480-40 360-160H200q-33 0-56.5-23.5T120-240v-560q0-33 23.5-56.5T200-880h560q33 0 56.5 23.5T840-800v560q0 33-23.5 56.5T760-160H600L480-40ZM200-286q54-53 125.5-83.5T480-400q83 0 154.5 30.5T760-286v-514H200v514Zm280-194q58 0 99-41t41-99q0-58-41-99t-99-41q-58 0-99 41t-41 99q0 58 41 99t99 41ZM280-240h400v-10q-42-35-93-52.5T480-320q-56 0-107 17.5T280-250v10Zm200-320q-25 0-42.5-17.5T420-620q0-25 17.5-42.5T480-680q25 0 42.5 17.5T540-620q0 25-17.5 42.5T480-560Zm0 17Z"
                    />
                  </svg>
                </span>
              </div>
              <div *ngIf="formSubmitted && lastNameError" class="error-message">
                {{ lastNameError }}
              </div>
            </div>
         
         
        </div>
  
        <!-- Email Input (proper email validation) -->
        <h4 class="register__form-title">Email Address</h4>
  
        <div class="login__input-container">
          <input
            class="register__input"
            [ngClass]="{ 'input-error': formSubmitted && emailError }"
            type="email"
            placeholder="Your E-Mail"
            [(ngModel)]="email"
            (input)="onInputChange()"
            required
          />
  
          <span class="register__icon email-icon">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="24px"
              viewBox="0 -960 960 960"
              width="24px"
              fill="#D9D9D9"
            >
              <path
                d="M160-160q-33 0-56.5-23.5T80-240v-480q0-33 23.5-56.5T160-800h640q33 0 56.5 23.5T880-720v480q0 33-23.5 56.5T800-160H160Zm320-280L160-640v400h640v-400L480-440Zm0-80 320-200H160l320 200ZM160-640v-80 480-400Z"
              />
            </svg>
          </span>
        </div>
  
        <div *ngIf="formSubmitted && emailError" class="error-message">
          {{ emailError }}
        </div>
  
        <h4 class="register__form-title">Phone Number</h4>
        <div class="register__input-container">
          <div class="login__input-container">
            <!-- Country Code Dropdown (using API) -->
            <div class="col-2 pt-3" style="max-width: max-content">
              <lib-country-list
                [selectedCountryConfig]="selectedCountryConfig"
                [countryListConfig]="countryListConfig"
                (onCountryChange)="onCountryChange($event)"
              ></lib-country-list>
            </div>
            <!-- Phone Number Input (specific validation based on country code) -->
          </div>
          <div class="login__inputPhone-container">
            <input
              class="register__input"
              [ngClass]="{ 'input-error': formSubmitted && phoneNumberError }"
              type="text"
              placeholder="Phone Number"
              [(ngModel)]="phoneNumber"
              (input)="onPhoneNumberInput()"
              [pattern]="phoneNumberPattern"
              required
            />
  
            <span class="register__icon email-icon">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                height="24px"
                viewBox="0 -960 960 960"
                width="24px"
                fill="#CCCCCC"
              >
                <path
                  d="M798-120q-125 0-247-54.5T329-329Q229-429 174.5-551T120-798q0-18 12-30t30-12h162q14 0 25 9.5t13 22.5l26 140q2 16-1 27t-11 19l-97 98q20 37 47.5 71.5T387-386q31 31 65 57.5t72 48.5l94-94q9-9 23.5-13.5T670-390l138 28q14 4 23 14.5t9 23.5v162q0 18-12 30t-30 12ZM241-600l66-66-17-94h-89q5 41 14 81t26 79Zm358 358q39 17 79.5 27t81.5 13v-88l-94-19-67 67ZM241-600Zm358 358Z"
                />
              </svg>
            </span>
          </div>
        </div>
        <div *ngIf="formSubmitted && phoneNumberError" class="error-message">
          {{ phoneNumberError }}
        </div>
  
        <button class="register__button" (click)="onRegister()">Submit</button>
      </div>
    </div>
  </div>
  