/* Base styling for register container */
.register {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
  }
  
  .register__form {
    flex: 1;
    display: flex;
    justify-content: center; /* Center the form */
    align-items: center; /* Center vertically */
    background-color: #ffffff;
  }
  
  .register__form-wrapper {
    width: 100%;
    max-width: 450px;
    margin-right: 2rem; /* Push form slightly to the right */
  }
  
  .register__form-label {
    color: #003366;
    text-align: center;
    margin-bottom: 2.5rem;
    font-family: "Playfair Display", serif;
    font-size: 1.8rem; /* Increase text size */
    font-weight: 700;
  }
  
  .register__form-title {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    margin-top: 1.4rem;
    color: #434649;
  }
  
  .register__input-container {
    display: flex;
    align-items: center; /* Align input elements vertically */
    gap: 1rem; /* Space between the name inputs */
  }
  
  .register__input-container select,
  .register__input,
  .register__inputName {
    height: 3rem; /* Same height for all inputs */
    padding: 1rem 1.2rem; /* Adjust padding for better appearance */
    border: 1px solid lightgrey;
    border-radius: 2rem;
    font-size: 1.1rem; /* Larger input text */
  }
  
  .register__input-container select {
    width: 6.15rem; /* Adjust width for country code dropdown */
    height: 3rem;
  }
  
  .register__input {
    width: 100%;
  }
  
  .register__input:focus {
    outline: none;
    border-color: #000000;
  }
  
  .register__icon {
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-40%);
    font-size: 1.1rem;
    pointer-events: none;
  }
  
  .register__country-container {
    flex: 0 0 auto; /* Prevent the country container from growing */
    width: auto;
  }
  
  .register__phone-number-container {
    position: relative;
  }
  
  .register__button {
    width: 100%;
    max-width: 200px; /* Wider button */
    height: 3rem; /* Same height for the button */
    border-style: solid;
    border-radius: 30px;
    color: white;
    background-color: #012447;
    font-size: 1.1rem; /* Larger button text */
    cursor: pointer;
    margin: 2rem auto 1rem auto; /* Center button inside the form */
    display: block;
    text-align: center;
  }
  
  .register__button:hover {
    background: linear-gradient(135deg, #003b75, #003c77);
    box-shadow: -1px 8px 9px 1px rgba(104, 172, 179, 0.4);
    transition: all 0.35s ease-in-out;
  }
  
  .register__forgot-password {
    display: block;
    text-align: right;
    margin-top: 1rem;
    color: #999;
    font-size: 1.1rem;
    text-decoration: none;
  }
  
  .register__forgot-password:hover {
    text-decoration: underline;
    color: #003366;
  }
  
  /* Error message styles */
  .input-error {
    border: 2px solid red !important;
  }
  
  .error-message {
    color: red;
    font-size: 1rem;
    margin-bottom: 0.8rem;
  }
  
  .register__error-message {
    color: red;
    font-size: 0.9rem; /* Slightly smaller font for error messages */
    margin-top: 0.4rem;
  }
  
  .register__name-container {
    display: flex;
    justify-content: space-between; /* Space between inputs */
    gap: 1rem; /* Space between the name inputs */
  }
  
  .register__inputName {
    width: 100%; /* Adjust width for name inputs */
  }
  
  .register__input:focus {
    outline: none;
    border-color: #000000;
  }
  
  /* Adjusting styling for smaller screens */
  @media (max-width: 1024px) {
    .register {
      flex-direction: column;
      height: 100vh;
      position: relative;
    }
  
    .register__form {
      padding: 1.5rem;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      max-width: 450px;
    }
  
    .register__form-wrapper {
      width: 100%;
      margin: 0;
    }
  
    .register__form-label {
      font-size: 1.6rem;
      text-align: center;
      margin-bottom: 1.5rem;
      color: #003366;
    }
  
    .register__input {
      font-size: 1.1rem;
      padding: 1rem 1.2rem;
    }
  
    .register__button {
      display: block;
      margin: 2rem auto 0 auto;
      width: 100%;
      max-width: 200px;
      font-size: 1rem;
      height: 3.2rem;
    }
  
    .register__forgot-password {
      text-align: right;
      font-size: 1rem;
      margin-top: 1rem;
    }
  
    .register__form-title {
      font-size: 1.3rem;
    }
  
    .register__icon {
      position: absolute;
      top: 50%;
      left: 13rem;
      transform: translateY(-40%) scale(0.7);
      pointer-events: none;
    }
  }
  
  @media (max-width: 768px) {
    .register__input-container {
      margin-bottom: 0;
    }
  
    .register__form {
      padding: 1.5rem;
      max-width: 400px;
    }
  
    .register__form-label {
      font-size: 1.5rem;
    }
  
    .register__input {
      margin-bottom: 0.3rem;
      font-size: 1rem;
    }
  
    .register__button {
      max-width: 180px;
      height: 3rem;
    }
  
    .register__forgot-password {
      font-size: 0.9rem;
    }
  
    .register__form-title {
      font-size: 1.1rem;
      margin-bottom: 0.3rem;
      margin-top: 0.7rem;
    }
  
    .register__error-message,
    .error-message {
      margin-bottom: 1rem;
      font-size: 0.9rem;
    }
  
    .register__icon {
      position: absolute;
      top: 50%;
      left: 10rem;
      transform: translateY(-50%) scale(0.8);
      pointer-events: none;
    }
  }
  
  @media (max-width: 480px) {
    .register__input-container {
      margin-bottom: 0;
    }
  
    .register__form {
      padding: 1rem;
      max-width: 350px;
    }
  
    .register__form-label {
      font-size: 1.3rem;
    }
  
    .register__input {
      margin-bottom: 0.3rem;
      font-size: 0.9rem;
    }
  
    .register__button {
      max-width: 160px;
      height: 2.8rem;
      font-size: 0.9rem;
    }
  
    .register__forgot-password {
      font-size: 0.8rem;
    }
  
    .register__form-title {
      font-size: 1rem;
      margin-bottom: 0.3rem;
      margin-top: 0.7rem;
    }
  
    .register__error-message,
    .error-message {
      margin-bottom: 1rem;
      font-size: 0.8rem;
    }
  
    .register__icon {
      position: absolute;
      top: 50%;
      left: 8rem;
      transform: translateY(-50%) scale(0.7);
      pointer-events: none;
    }
  }
  
  @media (max-width: 320px) {
    .register__input-container {
      margin-bottom: 0;
    }
  
    .register__form-label {
      font-size: 1.2rem;
    }
  
    .register__input {
      height: 2.8rem; /* Adjusted input height */
      font-size: 0.8rem;
    }
  
    .register__error-message,
    .error-message {
      font-size: 0.7rem; /* Smaller error messages */
    }
  
    .register__icon {
      position: absolute;
      top: 50%;
      left: 8rem;
      transform: translateY(-50%) scale(0.7);
      pointer-events: none;
    }
  }
  