.upload-files__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  width: 350px;
  margin: auto;
}

.upload-files__drag-drop-area {
  width: 100%;
  height: 150px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  border-color: #0056b3;
  background-image: url('/assets/pdf-icon.png');
  background-size: cover;
  background-position: center;
}


.upload-files__drag-drop-icon {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}

.upload-files__drag-drop-text {
  color: #007bff;
  font-size: 16px;
  text-align: center;
}

.upload-files__file-input-container {
  margin-bottom: 20px;
  text-align: center;
}

.upload-files__file-input {
  display: none;
}

.upload-files__btn {
  padding: 12px 30px;
  border-radius: 25px;
  cursor: pointer;
  font-weight: 600;
  font-size: 1.1rem;
  color: #007bff;
}

.upload-files__btn:hover {
  text-decoration: underline;
}

.upload-files__file-name-display {
  text-align: center;
  margin-top: 10px;
  font-size: 16px;
  color: #333;
}

.upload-files__btn--secondary {
  width: 100%;
  max-width: 200px;
  height: 3rem;
  border-style: solid;
  border-radius: 30px;
  color: white;
  background-color: #012447;
  font-size: 1.1rem;
  cursor: pointer;
  display: block;
  text-align: center;
}

.upload-files__btn--secondary:hover {
  background-color: #999;
}

.upload-files__or-text {
  margin: 10px 0;
  font-size: 14px;
  color: #555;
}
