

<div class="search-container">
  <mat-form-field class="search-field">
    <mat-icon matPrefix>search</mat-icon>
    <input matInput placeholder="Search Users" (input)="onSearchChange($event)">
  </mat-form-field>
</div>

<div *ngIf="users.length === 0" class="no-users-box">
  <mat-icon class="no-users-icon">group</mat-icon>
  <p>No users available.</p>
  <button mat-raised-button color="primary" (click)="navigateToRegister()">Add User</button>
</div>

<div class="table-container" *ngIf="users.length !== 0">
  <table mat-table [dataSource]="users" [matSortDisableClear]="true"  matSort (matSortChange)="onSortChange($event)" class="custom-table">
    
      <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header="firstName">
      Name
    </th>
    <td mat-cell *matCellDef="let user">
      <div class="user-info">
        {{ user.first_name }} {{ user.last_name }}
      </div>
    </td>
  </ng-container>

  <!-- Email Column -->
  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef mat-sort-header="email">
      Email
    </th>
    <td mat-cell *matCellDef="let user"> {{ user.email }} </td>
  </ng-container>

  <!-- Phone Column -->
  <ng-container matColumnDef="phone">
    <th mat-header-cell *matHeaderCellDef mat-sort-header="phoneNumber">
      Phone
    </th>
    <td mat-cell *matCellDef="let user"> {{ user.country_code}} {{ user.phone_number }} </td>
  </ng-container>

    <!-- Role Column -->
    <ng-container matColumnDef="role">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="userRole"> Role </th>
      <td mat-cell *matCellDef="let user">
        <span class="role-badge">{{ user.user_role }}</span>
      </td>
    </ng-container>

    <!-- Status Column -->
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="isDeleted"> Status </th>
      <td mat-cell *matCellDef="let user">
        <span class="status-badge" [ngClass]="{'active': !user.is_deleted, 'inactive': user.is_deleted}">
          {{ user.is_deleted ? 'Inactive' : 'Active' }}
        </span>
      </td>
    </ng-container>
    
    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let user">
        <button mat-icon-button color="primary" matTooltip="Edit" (click)="editUser(user._id)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" matTooltip="Delete" (click)="deleteUser(user._id)">
          <mat-icon>delete</mat-icon>
        </button>
        <button mat-icon-button color="accent" matTooltip="View" (click)="viewUser(user._id)">
          <mat-icon>visibility</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>

<!-- Mobile Layout -->
<div class="mobile-user-list" *ngIf="users.length !== 0">
  <div *ngFor="let user of users" class="user-card">
    <div class="user-card-header">
      <div>
        <strong>{{ user.first_name }} {{ user.last_name }}</strong>
        <p>{{ user.email }}</p>
      </div>
      <span class="status-badge" [ngClass]="{'active': !user.is_deleted, 'inactive': user.is_deleted}">
        {{ user.is_deleted ? 'Inactive' : 'Active' }}
      </span>
    </div>
    <div>
      <p><strong>Phone:</strong> {{ user.country_code }} {{ user.phone_number }}</p>
      <p><strong>Role:</strong> {{ user.user_role }}</p>
    </div>
    <div class="user-card-actions">
      <button mat-icon-button color="primary" (click)="editUser(user._id)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button color="warn" (click)="deleteUser(user._id)">
        <mat-icon>delete</mat-icon>
      </button>
      <button mat-icon-button color="accent" (click)="viewUser(user._id)">
        <mat-icon>visibility</mat-icon>
      </button>
    </div>
  </div>
</div>

<mat-paginator 
*ngIf="users.length !== 0"
  [length]="totalUsers" 
  [pageSize]="pageSize" 
  [pageSizeOptions]="[5, 10, 20, 50, 100]" 
  (page)="onPageChange($event)">
</mat-paginator>

