* {
  overflow: visible !important;
}

.profile-card {
    background: #fff;
    border-radius: 0.5rem; /* 8px */
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1); /* 2px 4px */
    font-family: Arial, sans-serif;
    width: auto;
    max-width: 60rem; /* Card width relative to the viewport */
    height: auto;
}

.profile-card__row {
    display: flex;
    padding-top: 1.2rem;
    justify-content: space-between;
    margin: 2rem; /* 16px spacing between rows */
    padding-bottom: 1rem;
}

.profile-card__item {
   margin-right: 2.5rem;
}

.profile-card__item:not(:last-child) {
    margin-right: 0.5rem; /* 16px space between columns */
}

.profile-card__label {
    font-size: 1.4rem; /* 14px */
    font-weight: 700;
    margin: 0;
    color: #3f3f3f;
}

.profile-card__value {
    font-size: 1.1rem; /* 16px */
    color: #636363;
    margin: 0.25rem 0 0; /* 4px top margin */
    overflow-wrap: anywhere;
}

@keyframes skeleton-loading {
  0% {
    background-position: -200px 0;
  }
  100% {
    background-position: calc(200px + 100%) 0;
  }
}
/* Skeleton Loading Animation */
@keyframes skeleton-loading {
  0% {
    background-color: #e0e0e0; /* Light gray */
  }
  50% {
    background-color: #f5f5f5; /* Lighter gray */
  }
  100% {
    background-color: #e0e0e0; /* Back to light gray */
  }
}

/* Skeleton Loading Styles */
.skeleton-text {
  background-color: #e0e0e0;
  border-radius: 4px;
  height: 1rem;
  width: 80%;
  margin-bottom: 8px;
  animation: skeleton-loading 1.5s infinite; /* Apply animation */
}

.skeleton-text.profile-card__label {
  width: 100px; /* Adjust width for labels */
  animation: skeleton-loading 1.5s infinite; /* Apply animation */
}

.skeleton-text.profile-card__value {
  width: 150px; /* Adjust width for values */
  animation: skeleton-loading 1.5s infinite; /* Apply animation */
}

@media (max-width: 1024px) {
    .profile-card {
        height: auto; /* Decrease width on medium screens (like tablets) */
    }
    .profile-card__row {
        padding-top: 1.4rem;
        margin-top: 0;
        margin-bottom: 0;
    }
    .profile-card__item {
        margin-right: 0; /* Remove margin between divs */
        margin-bottom: 1rem; /* Add space between stacked divs */
        margin-top: 0;
    }

    .profile-card__item:not(:last-child) {
        margin-bottom: 1rem; /* Add space between the profile items */
    }
    .profile-card__label {
        font-size: 1rem;
    }
}

@media (max-width: 768px) {
  .profile-card__row {
    margin-left: 1rem;
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 1.4rem;
  }
}

@media (max-width: 560px) {
  .profile-card__row {
    margin-left: 1rem;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 1rem;
    padding-bottom: 0;
  }
  .profile-card__label {
    font-size: 0.9rem;
  }
  .profile-card__value {
    font-size: 0.7rem;
  }
}
