<!-- File Content: Profile details for user -->
<div class="profile-card">
  <div class="profile-card__row">
    <div class="profile-card__item">
      <p class="profile-card__label">First Name</p>
      <p class="profile-card__value">{{ user.first_name }}</p>
    </div>
    <div class="profile-card__item">
      <p class="profile-card__label">Last Name</p>
      <p class="profile-card__value">{{ user.last_name }}</p>
    </div>
    <div class="profile-card__item">
      <p class="profile-card__label">I am a</p>
      <p class="profile-card__value">{{ user.user_role }}</p>
    </div>
  </div>
  <div class="profile-card__row">
    <div class="profile-card__item">
      <p class="profile-card__label">Email Address</p>
      <p class="profile-card__value">{{ user.email }}</p>
    </div>
  </div>
  <div class="profile-card__row">
    <div class="profile-card__item">
      <p class="profile-card__label">Mobile Number</p>
      <p class="profile-card__value">{{ user.country_code }} {{ user.phone_number }}</p>
    </div>
  </div>
</div>
