<div class="profile-card">

  <!-- Actual Profile Data -->
  <div class="profile-card__row" >
    <div class="profile-card__item">
      <p class="profile-card__label">First Name</p>
      <p class="profile-card__value" *ngIf="!isLoading" >{{ user.first_name }}</p>
      <p class="profile-card__label skeleton-text" *ngIf="isLoading"></p>
    </div>
    <div class="profile-card__item">
      <p class="profile-card__label">Last Name</p>
      <p class="profile-card__value" *ngIf="!isLoading" >{{ user.last_name }}</p>
      <p class="profile-card__value skeleton-text" *ngIf="isLoading"></p>
    </div>
    <div class="profile-card__item">
      <p class="profile-card__label" >I am a</p>
      <p class="profile-card__value" *ngIf="!isLoading">{{ user.user_role }}</p>
      <p class="profile-card__value skeleton-text" *ngIf="isLoading"></p>
    </div>
  </div>
  <div class="profile-card__row">
    <div class="profile-card__item">
      <p class="profile-card__label">Email Address</p>
      <p class="profile-card__value" *ngIf="!isLoading">{{ user.email }}</p>
      <p class="profile-card__value skeleton-text" *ngIf="isLoading"></p>
    </div>
  </div>
  <div class="profile-card__row">
    <div class="profile-card__item">
      <p class="profile-card__label">Mobile Number</p>
      <p class="profile-card__value" *ngIf="!isLoading">{{ user.country_code }} {{ user.phone_number }}</p>
      <p class="profile-card__value skeleton-text" *ngIf="isLoading"></p>
    </div>
  </div>
</div>