<!-- Sidebar component for the dashboard -->
<nav class="sidebar">
  <ul class="sidebar__list">
    <li class="sidebar__menu-item">
      <div class="sidebar__side-dark-box"></div>
      <span class="sidebar__menu-icon">
        <svg xmlns="http://www.w3.org/2000/svg" height="38px" viewBox="0 -960 960 960" width="40px" fill="#4a6f81"><path d="M344.62-273.87 480-355.72l135.39 82.85-35.42-154.87 119.26-103.29L542.05-545 480-690.54 417.95-546l-157.18 13.97L380.03-427.9l-35.41 154.03ZM293-203.08l49.62-212.54-164.93-142.84 217.23-18.85L480-777.69l85.08 200.38 217.23 18.85-164.93 142.84L667-203.08 480-315.92 293-203.08Zm187-268.71Z"/></svg>
      </span>
      <a href="#" class="sidebar__menu-text">{{baseUrl | titlecase}}</a>
      <div class="sidebar__menu-status"></div>
    </li>
    <li class="sidebar__logout-item">
      <a href="#" class="sidebar__logout-text">Logout</a>
    </li>
  </ul>
</nav>
