* {
  overflow: visible !important;
}
.profile-card {
    background: #fff;
    border-radius: 0.5rem; /* 8px */
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1); /* 2px 4px */
    
    font-family: Arial, sans-serif;
    width: auto;
    max-width: 60rem; /* Card width relative to the viewport */
    height: auto;
    
  }
  
  .profile-row {
    display: flex;
    padding-top: 1.2rem;
    justify-content: space-between;
    margin: 2rem; /* 16px spacing between rows */
    padding-bottom: 1rem;
  }
  
  .label {
    font-size: 1.4rem; /* 14px */
    font-weight: 700;
    margin: 0;
    color: #3f3f3f;
  }
  
  .value {
    font-size: 1.1rem; /* 16px */
    color: #636363;
    margin: 0.25rem 0 0; /* 4px top margin */

    overflow-wrap: anywhere;
  }
  
  .profile-row div {
   margin-right: 2.5rem;
  }
  
  .profile-row div:not(:last-child) {
    margin-right: 0.5rem; /* 16px space between columns */
  }
  
  @media (max-width: 1024px) {
    .profile-card {
        height:auto; /* Decrease width on medium screens (like tablets) */
        
    }
    .profile-row {
      padding-top: 1.4rem;
      margin-top: 0;
      margin-bottom: 0;
    }
    .profile-row div {
        margin-right: 0; /* Remove margin between divs */
        margin-bottom: 1rem; /* Add space between stacked divs */
        margin-top: 0;
    }

    .profile-row div:not(:last-child) {
        margin-bottom: 1rem; /* Add space between the profile items */
    }
    .label {
      font-size: 1rem;
    }
}
@media (max-width:768px) {
  .profile-row {
    margin-left: 1rem;
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 1.4rem;
  }
}
@media (max-width:560px) {
  .profile-row {
    margin-left: 1rem;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 0;
    margin-top: 0;
    padding-top:1rem;
    padding-bottom: 0;
  }
  .label {
    font-size: 0.9rem;
  }
  .value {
    font-size: 0.7rem;
  }
}