.popup__container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Overlay background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup__content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 600px;
}

.popup__title {
  margin: 0;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 3rem;
  color: #012447;
}

.popup__file-list {
  margin-top: 20px;
}

.popup__file-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.popup__file-icon {
  margin-right: 10px;
  font-size: 2rem;

}

.popup__file-name {
  flex-grow: 1;
}

.popup__file-label-input {
  margin-left: 10px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 18rem;
  height: 2.5rem;
}

.popup__file-label-input::placeholder {
  font-style: italic;
  color: gray;
  
}

.popup__button {
  width: 100%;
    max-width: 200px;
    height: 3rem;
    border-style: solid;
    border-radius: 30px;
    width: 42%;
    color: white;
    background-color: #012447;
    font-size: 1.1rem;
    cursor: pointer;
    margin-left: calc(50% - 6rem);
    display: block;
    text-align: center;
}

.popup__button:hover {
  background-color: #0056b3;
}
