

/* You can add global styles to this file, and also import other style files */

/* @import "../node_modules/ngx-countries-dropdown/assets/styles.css"; */
/* @import "tailwindcss"; */
@import "ag-grid-community/styles/ag-grid.css";
@import "ag-grid-community/styles/ag-theme-alpine.css";
*{
    font-family: "Josefin Sans", serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden; 
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
