<div class="container" [class.blurred]="isViewLabelVisible">
  <h2 class="case-list__heading">All Cases</h2>
  <div *ngIf="isDataAvailable" class="case-list__case table-container">
    <table class="table">
      <thead class="thead-custom">
        <tr class="table-header">
          <th></th>
          <th>Case Ref No</th>
          <th>Instruction Type</th>
          <th>Client Name</th>
          <th>Total Files</th>
          <th>Total Pages</th>
          <th>Date Uploaded</th>
          <th>Uploaded By</th>
          <th>Case Status</th>
          <th>LOI</th>
          <th></th>
          <th>Action</th>
          <th></th>
          <th>Add Subcase</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let caseItem of data" class="case-row">
          <tr (click)="toggleSubCases(caseItem)" class="clickable-row main-case">
            <td>
              <span *ngIf="caseItem.expanded; else downArrow">
                <svg xmlns="http://www.w3.org/2000/svg" height="12px" viewBox="0 -960 960 960" width="12px" fill="#4A6F81">
                  <path d="M480-344 240-584l56-56 184 184 184-184 56 56-240 240Z"/>
                </svg>
              </span>
              <ng-template #downArrow>
                <svg xmlns="http://www.w3.org/2000/svg" height="12px" viewBox="0 -960 960 960" width="12px" fill="#4A6F81">
                  <path d="M480-528 296-344l-56-56 240-240 240 240-56 56-184-184Z"/>
                </svg>
              </ng-template>
            </td>
            <td>{{ caseItem.ref_number }}</td>
            <td>{{ getInstructionType(caseItem) }}</td>
            <td>{{ caseItem.client_name }}</td>
            <td>{{ getTotalFiles(caseItem) }}</td>
            <td>{{ getTotalPages(caseItem) }}</td>
            <td>{{ caseItem.created_on | date }}</td>
            <td>{{ getCaseUploader(caseItem) }}</td>
            <td>{{ getCaseStatus(caseItem) }}</td>
            <td>
              <a class="text-primary" (click)="openPdfPreview(caseItem.ref_number + '.pdf')" >View LOI</a>
            </td>
            <td>
              <a class="text-primary" (click)="openUploadFiles()">Upload File</a>
            </td>
            <!-- <td *ngIf="uploadedFileName"> -->
              <!-- <p>Uploaded: {{ uploadedFileName }}</p> -->
            <!-- </td> -->
            <td>
              <a class="text-primary" (click)="openViewLabel()">View/Label</a>
            </td>
            <td>
              <a href="#" class="text-primary">Generate Summary</a>
            </td>
            
            <td><img src="assets/plus.png" class="plus-icon"></td>
          </tr>
          <!-- Subcases -->
          <tr *ngFor="let subCase of getSubCases(caseItem._id)" [hidden]="!caseItem.expanded" class="subcase-row">
            <td></td>
            <td>{{ subCase.ref_number }}</td>
            <td>{{ getInstructionType(subCase) }}</td>
            <td>{{ subCase.client_name }}</td>
            <td>{{ getTotalFiles(subCase) }}</td>
            <td>{{ getTotalPages(subCase) }}</td>
            <td>{{ subCase.created_on | date }}</td>
            <td>{{ getCaseUploader(subCase) }}</td>
            <td>{{ getCaseStatus(subCase) }}</td>
            <td>
              <a class="text-primary" (click)="openPdfPreview(caseItem.ref_number + '.pdf')" >View LOI</a>
            </td>
            <td>
              <a href="#" class="text-primary">Upload File</a>
            </td>
            <td>
              <a href="#" class="text-primary">View/Label</a>
            </td>
            <td>
              <a href="#" class="text-primary">Generate Summary</a>
            </td>
            <td></td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
  <!-- View/Label Popup -->
  <div *ngIf="isViewLabelVisible" class="view-label-popup">
    <app-view-and-label 
      [selectedFiles]="selectedFiles"
      (closePopup)="closeViewLabel()">
    </app-view-and-label>
  </div>

  <div *ngIf="isPdfPreviewVisible" class="pdf-modal">
    <div class="modal-background" (click)="closePdfPreview()"></div> <!-- To close on background click -->
    <div class="pdf-modal-content">
      <span class="close" (click)="closePdfPreview()">×</span>
      <h3>LOI Preview - {{ selectedFileName }}</h3>
      <iframe [src]="pdfUrl" width="100%" height="500px" style="border: none;"></iframe>
      <div class="modal-actions">
        <a [href]="pdfUrl" download class="btn btn-primary">Download PDF</a>
        <button class="btn btn-secondary" (click)="closePdfPreview()">Close</button>
      </div>
    </div>
  </div>

  <div *ngIf="!isDataAvailable" class="case-list__no-case">
    <div class="case-list__no-case-content">
      <p>Welcome to the Case Management Section.</p>
      <p>To upload a new case, please click the button below.</p>
      <button class="custom-btn">Upload New Case</button>
    </div>
  </div>
  <div *ngIf="isUploadFilesVisible" class="upload-files-popup">
    <app-upload-files 
      (closePopup)="closeUploadFiles()">
    </app-upload-files>
  </div>
</div>