<div class="password-container">
    <h2>Set Your Password</h2>
    <form [formGroup]="passwordForm" (ngSubmit)="setPassword()">
      
      <!-- New Password Field -->
      <div>
        <label>New Password</label>
        <input [type]="showPassword ? 'text' : 'password'" formControlName="password" required>
      
  
        <!-- Validation Messages -->
        <small *ngIf="passwordForm.get('password')?.hasError('required') && passwordForm.get('password')?.touched" class="error">
          Password is required.
        </small>
        <small *ngIf="passwordForm.get('password')?.hasError('minlength')" class="error">
          Password must be at least 6 characters long.
        </small>
        <small *ngIf="passwordForm.get('password')?.hasError('pattern')" class="error">
            (uppercase,number,special character)
        </small>
      </div>
  
      <!-- Confirm Password Field -->
      <div>
        <label>Confirm Password</label>
        <input [type]="showConfirmPassword ? 'text' : 'password'" formControlName="confirmPassword" required>
      
  
        <small *ngIf="passwordForm.get('confirmPassword')?.hasError('required') && passwordForm.get('confirmPassword')?.touched" class="error">
          Confirm Password is required.
        </small>
        <small *ngIf="passwordForm.get('confirmPassword')?.touched && passwordForm.value.password !== passwordForm.value.confirmPassword" class="error">
          Passwords do not match.
        </small>
      </div>
  
      <button type="submit" [disabled]="passwordForm.invalid">Set Password</button>
    </form>
  </div>
  